.custommodal {
  background-color: rgba(163, 137, 106, 0.849);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.custommodal.open {
 display: block;
}

.custommodal .position-center {
  position: fixed;
  width: 600px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.custommodal .position-center i {
  font-size: 150px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10em;
  display: block;
  padding: 10px 15px;
  margin: 10px ;
  transition: font-weight .20s;
}
 
a:hover, a.active {
  font-size: 30px;  
}

.foto{
  border-radius: 10px;
  border: 3px solid black;
  background: url(../../image/telo.jpg) no-repeat;
  background-size:contain;
  margin-left: 12px;
  width:188px;
  height: 286px;

}
.foto1{
  border-radius: 10px;
  border: 3px solid black;
  background: url(../../image/max.jpeg) no-repeat;
  background-size:contain;
  margin-left: 12px;
  width:188px;
  height: 266px;
  
}
.foto2{
  border-radius: 10px;
  border: 3px solid black;
  background: url(../../image/kod.jpg) no-repeat;
  background-size:contain;
  margin-left: 12px;
  width:188px;
  height: 280px;
  
}
.main{
  height: 100%;
  width:100%;
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  }
  
  ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  }
body {
  margin:0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  
}
#container .box {
  width:300px;
  height:500px;
  display:inline-block;
  position:relative;
  
}
#container .box > div{
  font-size:35px;
  color:#FFF;
  padding-top: -100px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  line-height:.9;
  font-weight:bold; 
  width: 210px;
  height: 370px;
  background-image: linear-gradient(180deg,rgba(31,29,29,.507),rgba(155,144,144,.507) 40%,rgba(27,25,25,.507));
  border: 2px;
  border-color: #fff;
  border-radius: 10px;
  top: 200px;
  left: -4px;
  box-shadow: 20px 20px 5px 0 rgba(0,0,0,.2);
  text-align: center;
  margin-left: 50px;
}

#container {
  align-self: center;
  overflow-y:scroll;
  overflow-x:hidden;
  transform-origin: top left;
  /*background: url(../../image/rectangle_6.png) no-repeat ;*/
  background-size: cover;
  position: absolute;
  align-content: center;
  width:400%;
  height:800px;
  margin-left: -620px;
  z-index: -1;
  font-family: Georgia, 'Bowlby One SC', Times, serif;
  box-shadow: 20px 20px 5px 0 rgba(0,0,0,.2);
  border: solid 2px black;
  border-radius: 50px;
}
#container2 {
  margin-bottom: 100px;
  margin-top: -100px;
  margin-left: 200px;
  transform-origin: top left;
  font-size:0;
}
@media (max-width: 1640px)
{
  #container{
    width:300%;
    margin-left: -420px;
  }
  #container2 {
    margin-left: 150px;
  }
}
@media (max-width: 1230px)
{
  #container{
    width:200%;
    margin-left: -220px;
  }
  #container2 {
    margin-left: 100px;
  }
}
@media (max-width: 979px)
{
  #container2 {
    margin-left: 80px;
  }
}
@media (max-width: 830px)
{
  #container{
    width:160%;
    margin-left: -150px;
  }
  #container2 {
    margin-left: 20px;
  }
}
@media (max-width: 680px)
{
  #container .box > div{
    width: 120px;
    height: 200px;
  }
  p{
    font-size: 15px;
  }
  .foto{
    margin-left: 15px;
    width: 91px;
    height: 136px;
  }
  .foto1{
    margin-left: 15px;
    width: 91px;
    height: 127px;
  }
  .foto2{
    margin-left: 15px;
    width: 91px;
    height: 134px;
  }
  #container .box{
    width: 184px;
    height: 230px;
    margin-left: -45px;
  }
  #container{
    width: 135%;
    margin-left: -95px;
  }
  #container2{
    margin-left: 60px;
  }
}
@media (max-width: 680px)
{
  #container{
    height: 535px;
    margin-top: 15px;
  }
}
@media (max-width:570px)
{
  #container {
    width: 107%;
    margin-left: -30px;
  }
  #container2 {
  margin-left: 4px;
  }
}

/* 
 Translating the content's X ruines the scrollbar length. 

#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
} */
