#base_menu{

    height:100px;
    width: 100%;
      background-color:#252525;
      display: flex;
       position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: linear-gradient(180deg,#1d3655, #000000 70%,#1d3655) ;background-attachment: fixed;
    background-size: 100%;
  }
  .ped{
    background: url(../../../image/logo2.png) no-repeat;
    height: 100px;
    width: 450px;
    margin-top: -40px;
    margin-left: -115px;
   
  }
  
  .flip {
    background-color: transparent;
    width: 120px;
    height: 100px;
    margin-left: 300px;
    perspective: 1000px;
    }
    .flip-inner {
    position: relative;
    width: 300px;
    height: 80px;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    }
    .flip:hover .flip-inner {
    transform: rotateY(180deg);
    }
    .flip-front, .flip-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    }
    /* .flip-front {
    background-color: #cccccc;
    color: #111111; 
    } */
    .flip-back {
    /* background-color: #8ebf42;
    color: #eeeeee; */
    transform: rotateY(180deg);
    }
  /* скрываем чекбокс */
  #menu__toggle {
      opacity: 0;
    }
    /* стилизуем кнопку */
    .menu__btn {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 2;
      text-align: left;
      font-family:'Bowlby One SC';
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    /* контейнер меню */
   .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background: url(../../../image/rectangle_2.png) ;
      -moz-background-size: 100%; 
      -webkit-background-size: 100%;
      -o-background-size: 100%; 
      background-size: 100%;
      box-shadow: 1px 0px 6px rgb(0, 0, 0);
      z-index: 1;
      
    } 
  
  
    /* элементы меню */
    .menu__item {
      display: block;
      padding: 12px 24px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
      transition: 2s linear;
      position: relative;
    }
    .menu__item_logout {
      display: block;
      padding: 12px 24px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      text-decoration: none;
      margin-top: 700px;
    }
    .menu__item:hover {
      background-color: rgba(0, 82, 100, 0); 
      text-decoration: none;
      color: #ffffff;
      -webkit-transform: scale(2);
      transform: scale(1);
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
    }
  
    .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }
  @media (max-width: 620px)
   { 
    .menu__box {
    width: 100%;
    }
    .menu__item {
      font-size: 40px;
      margin-top: 40px
    }
   }
  /*Поисковая строка*/
  .search-button{
    width: 400px;
    height: 50px;
    position: absolute;
    right: 40px;
  }
  .container{
    width: 400px;
    position: relative;
  }
  .container .lupa{
    position: absolute;
    margin-left: 25px;
    margin-top: 27px;
    color: #FFF;
    -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
  }
  #search{
    width: 70px;
    height: 70px;
    background-color: rgb(27, 125, 158);
    color: #FFF;
    border: none;
    font-size: 0.9em;
    float: left;
    padding-left: 70px;
    -webkit-transition: 0.6s ease-out;
            transition: 0.6s ease-out;
    border-radius: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    margin:auto;
    align-items:center;
    justify-content:center;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);
  }
  
  #search:focus, 
  #search:active{
    outline:none;
    width: 400px;
    padding-right: 20px;
    border-radius: 0%;
  }
  .container:hover #search{
    width: 400px;
    background-color:rgb(55, 178, 219);
    border-radius: 0%;
  }
  .container:hover .lupa{
    color: #424242;
  }
  
  ::-webkit-input-placeholder { color: #CCC; }
  :-moz-placeholder { color: #CCC; }
  ::-moz-placeholder { color: #CCC; }
  :-ms-input-placeholder { color: #CCC; }
  /*////////////////*/
  
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  a:hover {
    color: #ffffff
  }
  

  
   .meu__modal__bg{
    background:rgba(0,0,0,0.4);
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    transition: all .6s ease;
    cursor:pointer;
    opacity:0;
  }
  .meu__modal{
    height:600px;
    width:1000px;
    position:fixed;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
    background:#fff;
     transition: all .6s ease;
    opacity:0;
    top:50%;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);
    display:flex;
    /* align-items:center;
    justify-content:center; */
  }
  .meu__modal p{
    font-size:24px;
  }
  .btn__confirm{
    height:42px;
    width:160px;
    background:#e74c3c;
    color:#fff;
    display:flex;
    margin:auto;
    align-items:center;
    justify-content:center;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);
    cursor:pointer;
    right: 200px;
  }
  .btn__confirm:hover{
    background:#e66354;
  }
  .mychk{
    display:none;
  }
  .mychk:checked ~ .meu__modal{
    opacity:1;
  }
  .mychk:checked ~ .meu__modal__bg{
    opacity:1;
  }
  table{
    z-index: 1;
  }
  .menu_modal_rightcol{
    text-align: center;
    width: 400px;
    
  }
  .menu_modal_leftcol{
    text-align: left;
    width: 400px;
  }
  .menu_modal_centcol{
    text-align: center;
    width: 400px;
  }
  li{
    list-style-type: none;
  }
  li:hover{
    cursor: pointer;
  }
  .menu_modal_successe{
    margin-right: 100px;
  }
  .menu_modal_close{
    margin-right: 100px;
  }
  .inner {
    position: absolute; 
    margin: auto; 
    width: 50px; 
    height: 95px; 
    top: 0px; 
    left: 0px; 
    bottom: 0px; 
    right: 0px; 
  }
  
  .inner > div {
    width: 50px; 
    height: 50px; 
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 100%; 
    position: absolute; 
    transition: all 0.5s ease; 
  }
  
  .inner > div:first-child {
    margin-left: -27px; 
    animation: one 1.5s linear 1; 
  }
  
  .inner > div:nth-child(2) {
    margin-left: 27px; 
    animation: two 1.5s linear 1; 
  }
  
  .inner > div:nth-child(3) {
    margin-top: 54px; 
    margin-left: -27px; 
    animation: four 1.5s linear 1; 
  }
  
  .inner > div:nth-child(4) {
    margin-top: 54px; 
    margin-left: 27px; 
    animation: three 1.5s linear 1; 
  }
  
  @keyframes one {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.3);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes two {
    0% {
      transform: scale(1.4);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.3);
    }
    75% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.4);
    }
  }
  
  @keyframes three {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.4);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.3);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes four {
    0% {
      transform: scale(0.3);
    }
    25% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    75% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.3);
    }
  }
  
  .inner > div.done {
    margin-left: 0px; 
    margin-top:  27px; 
  }
  
  .inner > div.page {
    transform: scale(40); 
  }
  
  .pageLoad {
    position: fixed;  
    top: 0px; 
    left: 0px;  
    width: 100%; 
    height: 100vh; 
    background-color: #000000; 
    transition: all 1s ease; 
    z-index: 2; 
  }
  
  .pageLoad.off {
    opacity: 0; 
    pointer-events: none; 
  }
  
 
  @media (max-width: 1270px)
  {
     .search-button{
       width: 100px;
       height: 50px;
       position: absolute;
       top:10px;
       right: 200px;
     }
     .container:hover #search{
       width: 200px;
     }
     #search:focus, 
     #search:active{
       width: 200px;
     }
     .btn__confirm{
       right: 100px;
       top: 10px;
     }
  }
  @media (max-width: 1200px)
  {
    #base_menu{
      height: 70px;
    }
    .search-button{
      width: 400px;
      right: -150px;
      top:10px;
    }
    #search:focus, 
     #search:active{
       width: 200px;
     }
    #search{
      width: 200px;
      height: 40px;
      background-color:rgb(55, 178, 219);
      border-radius: 0%;
    }
    .container .lupa{
      margin-left: 10px;
      margin-top: 10px;
    }
  }
   
  @media (max-width: 1100px)
  {
     .flip{
       margin-left: 100px;
     }
  }
  @media (max-width: 830px)
  {
    #base_menu{
      height: 120px;
    }

    #search{
      height: 30px;
    }
    .container .lupa{
      margin-left: 7px;
      margin-top: 7px;
    }

    .menu__btn{
      top: 20px;
    }
  }
  @media (max-width: 640px)
  {
    .flip{
      margin-left: 110px;
    }
    .search-button{
      top:70px;
    }
    .container:hover #search{
      width: 200px;
    }
    .container .lupa{
      margin-left: 9px;
      margin-top: 5px;
    }
    .menu__btn{
      top: 20px;
    }
  }
  @media (max-width: 630px)
  {
    .container:hover #search{
      width: 200px;
    }
    .container .lupa{
      margin-left: 7px;
      margin-top: 7px;
    }
     .label{
       right: 230px;
       margin-left: 200px;
       z-index: 1;
     }
  }
  
  @media (max-width: 600px)
  {
    .search-button{
      width: 400px;
      right: -150px;
      top:5px;
    }
    .search-button{
      top:70px;
    }
    .container:hover #search{
      width: 200px;
    }
    .container .lupa{
      margin-left: 9px;
      margin-top: 5px;
    }
    .menu__btn{
      top: 20px;
    }
  }

  @media (max-width: 430px)
  {
    .flip{
      margin-left: 55px;
    }
    #search{
      width: 200px;
    }
  }