html,
body {
	height: 100%;
}

tbody {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  table {
    margin-top: -400px;
    height: 300px;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  th,
  td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  th {
    text-align: left;
  }
  thead th {
    background-color: #55608f;
  }
  tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  tbody td {
    position: relative;
  }
  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }
  @media (max-width: 1200px)
  {
    table{
      width: 600px;
      margin-left: 50px;
    }
  }
  @media (max-width: 992px)
  {
    table{
      width: 500px;
      margin-left: 25px;
    }
  }
  @media (max-width: 850px)
  {
    table{
      width: 400px;
      margin-left: 50px;
    }
  }
  @media (max-width: 768px)
  {  
    table{
      width: 300px;
      margin-left: -20px;
    }
  }
  @media (max-width: 666px)
  { 
    table{
      width: 200px;
      margin-left: -20px;
    }
  }