$column-width: 480px;
$gutter-width: 20px;

.app {
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.section {
  display: inline-block;
  max-width: $column-width;
  margin: $gutter-width;
  text-align: left;
  vertical-align: top;
}

.filmtext{
  color: white;
  font-size:2em;
  
}
.player-wrapper {
  width: 580px;
  height: 370px;
  
 
}

.react-player {
  margin-bottom: 10px;
  background: rgb(3, 1, 1);
}

.faded {
  color: rgba(0, 0, 0, .5);
}

.footer {
  margin: $gutter-width;
}
.state{
  float: left;
}